table {
    font-size: 20px;
    text-align: center;
}

#do_action {
    margin-bottom: 50px;
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
    background: #FE980F;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
}

#cart_items .cart_info .image {
    padding-left: 30px;
}

#cart_items .cart_info .cart_description a h4 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#cart_items .cart_info .cart_description p,
#cart_items .cart_info .cart_price p {
    color: #696763;
}

#cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-weight: 500;
}

.cart_product {
    display: block;
}

.cart_product img {
    width: 150px;
    height: 150px;
}

.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}

.cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
}

.cart_delete a:hover {
    background: #FE980F
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}

#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area,
#do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}

.user_info {
    display: block;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid #e2e2e2;
}

.user_info .single_field.zip-field input:hover {
    border-color: darkorange;
}

.user_info>li {
    float: left;
    margin-right: 10px
}

.user_info input,
select,
textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}

.chose_area .update {
    margin-left: 40px;
}

.update {
    background: #FE980F;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 18px;
    padding: 5px 15px;
}

.update:hover {
    background: #db810c;
    color: #d6d6d6;
}