.alert {
    text-align: center;
}

.contact {
    font-weight: 700;
}

.faq-title {
    font-size: 27px;
    color: #5e5d5d;
}

.accordion-toggle {
    color: darkorange;
}

.accordion-toggle:hover {
    color: #f1690e;
}

div .card-block div img {
    max-width: 500px;
}